<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">


<!-- In our application we might have many servlets
	so for every servlet we have to create servlet and servlet mapping tag
	so to resolve confusion which servlet is connected to which mapping,servlet name is used
 -->

<servlet>
	<servlet-name>servlet1</servlet-name>
	<servlet-class>com.suryank.AddServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>servlet1</servlet-name>
	<url-pattern>/add</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>servlet2</servlet-name>
	<servlet-class>com.suryank.SquareServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>servlet2</servlet-name>
	<url-pattern>/square</url-pattern>
</servlet-mapping>

</web-app>